div.gameArea
{
	margin-left:auto;
	margin-right:auto;
}

canvas
{
	position:relative;
	border: 1px solid black;
	padding-left: 0;
    	padding-right: 0;
   	 margin-left: auto;
   	 margin-right: auto;
    	display: block;
}

body
{ 
background-image:url('img/background.png');
background-repeat:repeat;
background-attachment:fixed;
background-position:center; 
}
