#logo
{
  margin: auto;
  display:inline;
}

div.gameArea
{
	margin-left:auto;
	margin-right:auto;
	text-align: left;
	font-family: Arial;
	color:black;
	font-weight:bold;
	width:896px;
}

div#logodiv
{
	width:896px;
}

div#minimap
{
	display:inline-block;
}

canvas#gameArea
{
	position:absolute;
	border: 1px solid black;
	padding-left: 0;
	padding-right: 0;
	 margin-left: auto;
	 margin-right: auto;
	 display: block;

}

body
{
  background-image: url('../img/background.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}
