#logo
{
  margin: auto;
  display:inline;
}

div.minimapcontainer
{
	position:absolute;
}

div.gameArea
{
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	font-family: Arial;
	color:black;
	font-weight:bold;
	z-index:200;
}

canvas#gameCanvas
{
	position:relative;
	border: 1px solid black;
}

canvas#minimap
{
	float:left;
	position:relative;
	z-index:100;
	border: 1px solid black;
}

body
{
  background-image: url('../img/background.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

p.center { 
text-align: center; 
}
